@model CakeBoutique.Models.Category

@{
    if (Context.User != null && Context.User.Claims != null &&
       Context.User.Claims.Count() > 0 && (Context.User.IsInRole("Admin") || Context.User.IsInRole("Editor")))
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_ClientLayout";
    }
}
<link href="~/css/ImageUploader.css" rel="stylesheet" /> @*for the image container*@


<h3 class="text-center">Are you sure you want to delete category?</h3>
<div class="text-center">
    <h4>Category</h4>
    <hr />
    <dl class="row justify-content-center">
        @Html.DisplayNameFor(model => model.CategoryName)
    </dl>
    <dl class="row justify-content-center">
        @Html.DisplayFor(model => model.CategoryName)
    </dl>
    <div class="form-group">
        <div id='img_container' class="text-center p-4 my-4">
            @if (Model.image != null)
            {
                string img = Convert.ToBase64String(Model.image.image);
                <img class="imgContainer my-2" id="preview" src="data:image/png;base64,@img" alt="your image" title='' />
            }
        </div>

    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
