@model IEnumerable<jewelry.Models.Category>
@{
    ViewData["Title"] = "Home Page";

    if (Context.User != null && Context.User.Claims != null &&
        Context.User.Claims.Count() > 0 && (Context.User.IsInRole("Admin") || Context.User.IsInRole("Editor")))
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_ClientLayout";
        <section>
            @await Component.InvokeAsync("CarouselManager")
        </section>
    }
}
<link href="~/css/MainDesign.css" type="text/css" rel="stylesheet">
<body>
    <div class="row justify-content-center my-3 p-3">
        <h2 class="mainFont text-center mx-3">Choose you style</h2>
    </div>
   
    <div id="prodctIndexSearch" class="row row-cols-1 row-cols-md-4 g-4 categoryDiv justify-content-center">
        @{
            int i = 0;//interator for pathes
            foreach (var cat in Model)
            {
                <a class="pointer" onclick="location.href='@Url.Action("CategoryPage", "Products", new { categoryId = cat.Id })'">
                    <div class="col">
                        <div class="card h-75 w-250 my-3 cardBorder categoryButton">

                            <div class="containerImg">
                                @if (cat.Image != null)
                                {
                                    string img = Convert.ToBase64String(cat.Image);
                                    <img src="data:image/png;base64,@img" class="card-img-top imgCategory" alt="..." />

                                }
                                <div class="card-body whiteSmoke">
                                    <h5 class="card-title">@cat.CategoryName</h5>
                                </div>
                                <div class="middle">
                                    <div class="text">Shop Now</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                i++;
            }
        }
    </div>
    @section Scripts
    {
        <link href="~/css/MainDesign.css" rel="stylesheet" />
    }
</body>
