@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_ClientLayout";

}

<link href="/css/MainDesign.css" rel="stylesheet" type="text/css" />

<h1>@ViewData["Title"]</h1>

<p >Use this page to detail your site's privacy policy.</p>
