@*This page isn't in use right now'*@
@model IEnumerable<jewelry.Models.Category>
@{
    ViewData["Title"] = "Home Page";

    if (Context.User != null && Context.User.Claims != null &&
        Context.User.Claims.Count() > 0 && (Context.User.IsInRole("Admin") || Context.User.IsInRole("Editor")))
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_ClientLayout";
        <section>
            @await Component.InvokeAsync("CarouselManager")
        </section>
    }
}
<link href="~/css/MainDesign.css" type="text/css" rel="stylesheet">
<body>
    @*search*********************************88*@
    <div class="my-3 row justify-content-center">
        <div class="col-4 p-2 mx-4">
            <div class="row justify-content-center d-flex">
                <input id="inputToSearch" class="col-8 form-control" placeholder="Type here...">
                <button class="col-1 transparent-button" id="searchButton">
                    <img src="/lib/icons/loupe.png" width="25">
                </button>

            </div>
            <div class="row justify-content-center">

                <div class="col-md-5">
                    <p1 class="text-secondary">Category:</p1>
                    <select id="categoryInput" class="form-control">
                        <option value="0">All</option>
                        <option value="1">Necklace</option>
                        <option value="2">Ring</option>
                        <option value="3">Earring</option>
                        <option value="4">Bracelet</option>
                        <option value="5">Men</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <p1 class="text-secondary">Max price:</p1>
                    <select id="maxprice" class="form-control">
                        <option value="0">no limit</option>
                        <option value="50">50$</option>
                        <option value="100">100$</option>
                        <option value="150">150$</option>
                        <option value="200">200$</option>
                        <option value="250">250$</option>
                        <option value="300">300$</option>
                    </select>
                </div>
            </div>

        </div>

    </div>
    <div id="displaySearchDiv">

    </div>
    
    @section Scripts
    {
        <link href="~/css/MainDesign.css" rel="stylesheet" />
        <script src="~/js/searchProductClient.js"></script>
    }
</body>
