@model jewelry.Models.Category

@{
    if (Context.User != null && Context.User.Claims != null &&
       Context.User.Claims.Count() > 0 && (Context.User.IsInRole("Admin") || Context.User.IsInRole("Editor")))
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_ClientLayout";
    }
}
<link href="~/css/ImageUploader.css" rel="stylesheet" />

<h4 class="text-center">Category</h4>
<hr />      
<div class="row justify-content-center">
    <div class="col-md-4 text-center">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label font-italic font-weight-bold"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <label class="control-label ont-italic font-weight-bold">Category Image</label>
            <div class="form-group">
                <div id='img_container' class="text-center p-4 my-4">
                    @if (Model.image != null)
                    {
                        string img = Convert.ToBase64String(Model.image.image);
                        <img class="imgContainer my-2" id="preview" src="data:image/png;base64,@img" alt="your image" title='' />

                    }
                    <div class="custom-file">
                        <input type="file" name="postedFile" id="inputGroupFile01" class="imgInp custom-file-input" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>

            </div>
            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</div>
<script src="~/js/ImageUploader.js"></script>
