@model IEnumerable<jewelry.Models.CarouselImage>

@{
    ViewData["Title"] = "Index";

    if (Context.User != null && Context.User.Claims != null &&
        Context.User.Claims.Count() > 0 && (Context.User.IsInRole("Admin") || Context.User.IsInRole("Editor")))
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_ClientLayout";
    }
}
<h1 class="text-center">Banner Images For The Main Carousel</h1>

<div class="row row-cols-1 row-cols-md-4 g-4 categoryDiv justify-content-center">
    @{
        var i = 0;
        foreach (KeyValuePair<string, int> item in ViewBag.pathes)
        {
            <div class="col">
                <div class="card h-100 w-250 my-3">
                    @*@Html.ActionLink("", "CategoryPage", "Products",
                        new { type = Product.ProductType.Necklace }, null)*@
                    <div class="containerImg">
                        <img src="@item.Key" class="card-img-top imgCategory" alt="..." />
                    </div>
                    <div class="card-body row">
                        <h5 class="card-title col">Banner - @(i+1)</h5>
                        <a class="col" onclick="location.href='@Url.Action("Delete", "CarouselImages",new { id = item.Value  })'">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </a>
                    </div>
                </div>
            </div>
            i++;

        }
    }
</div>
<div class="justify-content-center text-center my-3">
<p>
    <a asp-action="Create">Create New</a>
</p>
<button class="btn btn-primary">Carousel Preview</button>

</div>

