@model IEnumerable<jewelry.Models.CarouselImage>

@{
    ViewData["Title"] = "Index";

    if (Context.User != null && Context.User.Claims != null &&
        Context.User.Claims.Count() > 0 && (Context.User.IsInRole("Admin") || Context.User.IsInRole("Editor")))
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_ClientLayout";
    }
}
<div class="container">

    <h1 class="text-center">Banner Images For The Main Carousel</h1>

    <div class="row row-cols-1 row-cols-md-4 g-4 categoryDiv justify-content-center p-3 ">
        @{
            var i = 0;
            foreach (var item in Model)
            {
                <div class="m-3">
                    <div class="card h-100 w-250 my-3">
                        @*@Html.ActionLink("", "CategoryPage", "Products",
                            new { type = Product.ProductType.Necklace }, null)*@
                        <div class="containerImg">
                            @if (item.Image != null)
                            {
                                string img = Convert.ToBase64String(item.Image);
                                <img src="data:image/png;base64,@img" class="card-img-top imgCategory" alt="..." />

                            }
                        </div>
                        <div class="card-body row">
                            <h5 class="card-title col">Banner - @(i + 1)</h5>
                            <a class="col" onclick="location.href='@Url.Action("Delete", "CarouselImages", new { id = item.Id })'">
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </a>
                        </div>
                    </div>
                </div>
                i++;

            }
        }
    </div>
    <div id="carou">

    </div>
    <div class="justify-content-center text-center my-3">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <a asp-controller="CarouselImages" asp-action="Preview">
            <button id="preview" class="btn btn-primary">
                Carousel Preview
            </button>
        </a>


    </div>

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/CarouselImageIndex - Copy.js"></script>
