@model object
@{
    ViewData["Title"] = "AboutUs";

    if (Context.User != null && Context.User.Claims != null &&
        Context.User.Claims.Count() > 0 && (Context.User.IsInRole("Admin") || Context.User.IsInRole("Editor")))
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_ClientLayout";

    }
}
<head>
    <link rel="stylesheet" href="~/css/AboutUs.css" />
    <link rel="stylesheet" href="~/css/Us.css" />
</head>

<section class="my-5">
    <br />
    <br />
    <hr />
    <div class="about-section my-5">
        <br />
        <h1>About Us</h1>
        <br />

    </div>

    <h2 style="text-align:center">Our Team</h2>

    <div class="row">
        <div class="col-md-4 text-center">
            <div class="card">
                <div class="align-text-center">
                    <img src="/lib/student/nadav.jpg" alt="Nadav" style="height:180px">
                </div>
                <div class="container">
                    <h2>Nadav Voikovitch</h2>
                    <p class="title">Student</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>nadav@gmail.com</p>
                    <p>
                        <button class="button">Contact</button>
                    </p>
                </div>
            </div>
        </div>
        <hr />
        <div class="col-md-4 text-center">
            <div class="card">
                <div class="align-text-center">
                    <img src="/lib/student/or.jpg" alt="Or" class="align-content-center" style="height: 180px">
                </div>
                <div class="container">
                    <h2>Or Kravitz</h2>
                    <p class="title">Student</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>or@gmail.com</p>
                    <p>
                        <button class="button">Contact</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="card">
                <div class="align-text-center">
                    <img src="/lib/student/inon.jpg" alt="Inon" class="align-content-center" style="height: 180px">
                </div>
                <div class="container">
                    <h2>Inon Shazo</h2>
                    <p class="title">Student</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>inon@gmail.com</p>
                    <p>
                        <button class="button">Contact</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="my-5">
    <hr />
    <br />

    <center>
        <div class="align-text-center">
            <iframe class="gmap_canvas align-middle" id="gmap_canvas" style="width:75%"
                    src="https://www.youtube.com/embed/iuNJLtj10Lg"
                    frameborder="1" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
        </div>
    </center>
</section>