<!DOCTYPE html>
<html lang="en">
<div class="loader">
    <div class="center-vertical">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - jewelry</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" type="text/css" />
    <link href="/css/MainDesign.css" rel="stylesheet" type="text/css" />
    <link href="/css/AdminLayout.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="sidenav">
            <div id="mySidebar" class="sidebar">
                <a class="opt closebtn" href="javascript:void(0)" onclick="closeNav()">&times;</a>
                <a class="opt" asp-controller="Categories" asp-action="Index">
@*                    &#10022;
*@                    <img src="~/lib/icons/category.png" width="27" />
                    Categories
                </a>
                <a class="opt" asp-controller="Products" asp-action="Index">
                    <img src="~/lib/icons/necklace.png" width="30" />
                    Products
                </a>    
                <a class="opt" asp-controller="CarouselImages" asp-action="Index">
                    <img src="~/lib/icons/advertisement.png" width="30" />
                    Banners
                </a>
                <a class="opt" asp-controller="Users" asp-action="Index">
                    <img src="~/lib/icons/team.png" width="30" />
                    Users
                </a>
                <a class="opt" asp-controller="Home" asp-action="facebook">
                    <img src="~/lib/icons/facebook.png" width="30" />
                    Post
                </a>
                <a class="opt" asp-controller="Home" asp-action="Statistics">
                    <img src="~/lib/icons/statistics.png" width="30" />
                    Statistics
                </a>
            </div>
        </div>
        <div id="main">
            <section>
                @await Component.InvokeAsync("TopLayout")
            </section>
            <section class="">
                <button id="opennavbar" src="" class="openbtn" onclick="openNav()">
                    Menu
                    <img class="" src="~/lib/icons/caret-right-fill.svg" />
                </button>
            </section>
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    <div id="mainSectionClient">
                        @RenderBody()
                    </div>
                    
                    <section>
                        @await Component.InvokeAsync("ButtomLayout")
                    </section>
                    </mainid="mainSectionClient">
            </div>
        </div>
    </header>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/AdminLayout.js"></script>
    <script src="~/js/mainLoader.js"></script>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
