<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - jewelry</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" type="text/css" />
    <link href="/css/MainDesign.css" rel="stylesheet" type="text/css" />
    <link href="/css/AdminLayout.css" rel="stylesheet" type="text/css" />

    <section>
        @await Component.InvokeAsync("TopLayout")
    </section>
</head>
<body>
    <header>
        <div class="sidenav">
            <div id="mySidebar" class="sidebar">
                <a class="opt" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a class="opt" asp-controller="Products" asp-action="Index">Manage Products</a>
                <a class="opt" asp-controller="CarouselImages" asp-action="Index">Edit Banner Images</a>
                <a class="opt" asp-controller="Users" asp-action="Index">Edit Users</a>
                <a class="opt" asp-controller="" asp-action="">Statistics</a>
            </div>
        </div>
        <div id="main">
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <section>
                @await Component.InvokeAsync("ButtomLayout")
            </section>
        </div>

    </header>
    <script src="~/js/AdminLayout.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
