<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - jewelry</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/MainDesign.css" rel="stylesheet">
    @RenderSection("Stylesheets", required: true)
</head>
<body>
    <header>
        <section class="section-nav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-1"></div>
                    <div class="col-md-4 text-center">
                        <div>
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">
                                <img class="logo-image pos-center" src="~/lib/icons/logo.svg"  />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 rtl mt-4 d-sm-flex ">
                        <div class="flex-grow-1 row text-center justify-content-center">
                          
                            <div class="col-md-2 col-sm">
                                <button data-toggle="dropdown" class="transparent-button">
                                    <img src="~/lib/icons/heart.svg" width="30" />
                                </button>
                            </div>
                            <div class="col-md-2 col-sm">
                                <button data-toggle="dropdown" class="transparent-button">
                                    <img src="~/lib/icons/cart4.svg" width="30" />
                                </button>
                            </div>
                            <div class="col-md-2 col-sm">
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <div class="btn-group" role="group">
                                        <button data-toggle="dropdown" class="transparent-button">
                                            <img src="~/lib/icons/person.svg" width="30" />
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            <a class="dropdown-item" href="#">Login</a>
                                            <a class="dropdown-item" href="#">Register</a>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - jewelry - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
