@{
    ViewData["Title"] = "Default";
}
<section class="section-nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link pink text-nav" asp-controller="Home" asp-action="Index">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pink text-nav" href="#">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pink text-nav" href="#">Contact us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="">
        <div class="row">
            <div class="col-md-4 col-sm-1">
                @if (Context.User != null && Context.User.Claims != null &&
                        Context.User.Claims.Count() > 0)
                {
                    <div class="m-3 textDesign">
                        Hello @Context.User.Claims.FirstOrDefault(c => c.Type == "FullName")?.Value
                    </div>
                }
            </div>
            <div class="col-md-4 text-center">
                <div>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img class="logo-image pos-center" src="~/lib/icons/main-photo.png" />
                    </a>
                </div>
            </div>
            <div class="col-md-4 rtl mt-4 d-sm-flex ">
                <div class="flex-grow-1 row text-center justify-content-center">
                    <div class="col-md-2 col-sm">
                        <button data-toggle="dropdown" class="transparent-button">
                            <img src="~/lib/icons/cart4.svg" width="30" />
                        </button>
                    </div>
                    <div class="col-md-2 col-sm">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <div class="btn-group" role="group">
                                <button data-toggle="dropdown" class="transparent-button">
                                    <img src="~/lib/icons/person.svg" width="30" />
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0)
                                    {
                                        <a asp-controller="Users" asp-action="Logout" class="dropdown-item pinkActive">Logout</a>

                                    }
                                    else
                                    {
                                        <a asp-controller="Users" asp-action="Login" class="dropdown-item pinkActive">Login</a>
                                        <a asp-controller="Users" asp-action="Register" class="dropdown-item pinkActive">Register</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
