@{
    ViewData["Title"] = "Default";
}
<section class="section-nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link pink text-nav" asp-controller="Home" asp-action="Index">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pink text-nav" asp-area="" asp-controller="AboutUs" asp-action="Index">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pink text-nav" href="#">Contact us</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item nav-item mx-3">
                    <label id="goldprice" class="font-italic font-weight-bold text-warning"></label>
                </li>
                <li class="nav-item nav-item mx-3">
                    <label id="silverprice" class="font-italic font-weight-bold text-secondary"></label>

                </li>
            </ul>


        </div>
    </nav>
    <div class="">
        <div class="row">
            <div class="col-md-4 col-sm-1">
                @if (Context.User != null && Context.User.Claims != null &&
                Context.User.Claims.Count() > 0)
                {
                    <div class="m-3 textDesign">
                        Hello @Context.User.Claims.FirstOrDefault(c => c.Type == "FullName")?.Value
                    </div>
                }
            </div>
            <div class="col-md-4 text-center">
                <div>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img class="logo-image pos-center" src="~/lib/icons/main-photo.png" />
                    </a>
                </div>
            </div>
            <div class="col-md-4 rtl mt-4 d-sm-flex ">
                <div class="flex-grow-1 row text-center justify-content-center">
                    @if (Context.User != null && Context.User.Claims != null &&
         Context.User.Claims.Count() > 0)
                    {
                        <div class="col-md-2 col-sm">
                            <button onclick="updateCart()" type="button" class="transparent-button" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable">
                                <img src="~/lib/icons/cart4.svg" width="30" />
                            </button>

                        </div>

                    }
                    @*************************************8*@

                    @*CartId*@
                    <input hidden id="cartId" value="@Context.User.Claims.FirstOrDefault(c => c.Type == "cartId")?.Value" />
                    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div id="modalScroller" class="modal-dialog modal-lg modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header mainFont font-italic justify-content-center">
                                    <h2 class="modal-title font-italic" id="exampleModalScrollableTitle">@Context.User.Claims.FirstOrDefault(c => c.Type == "FullName")?.Value's Cart</h2>
                                </div>
                                <div class="modal-body">

                                </div>
                                <div class="modal-footer">
                                    <p1 class="font-italic">Total Price:</p1>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continue shopping</button>
                                    <button type="button" class="btn btn-primary">Checkout</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*************************************8*@
                    <div class="col-md-2 col-sm">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <div class="btn-group" role="group">
                                <button data-toggle="dropdown" class="transparent-button">
                                    <img src="~/lib/icons/person.svg" width="30" />
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0)
                                    {
                                        <a asp-controller="Users" asp-action="Logout" class="dropdown-item pinkActive">Logout</a>

                                    }
                                    else
                                    {
                                        <a asp-controller="Users" asp-action="Login" class="dropdown-item pinkActive">Login</a>
                                        <a asp-controller="Users" asp-action="Register" class="dropdown-item pinkActive">Register</a>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm">
                        <a class="pointer" onclick="location.href='@Url.Action("SearchPage", "Home")'">
                            <img src="~/lib/icons/loupe.png" width="25" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<script src="~/js/cart/Order.js"></script>
<script src="~/js/cart/MyCart.js"></script>
<script src="~/js/goldprice.js"></script>