@model jewelry.Models.Product

@{
    ViewData["Title"] = "Home Page";

    if (Context.User != null && Context.User.Claims != null &&
        Context.User.Claims.Count() > 0 && (Context.User.IsInRole("Admin") || Context.User.IsInRole("Editor")))
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_ClientLayout";
        <section>
            @await Component.InvokeAsync("CarouselManager")
        </section>
    }
}

<link href="~/css/ImageUploader.css" rel="stylesheet" />

<div class="text-center">
    <h1>Edit</h1>

    <h4>Product - @Model.ProductName</h4>

</div>
<hr />
<div class="row justify-content-center text-center">
    <div class="col-md-5">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row justify-content-center">
                <div class="form-group col">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" asp-items="@ViewBag.Categries" class="form-control"> </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col">
                    <label asp-for="Discount" class="control-label"></label>
                    <input asp-for="Discount" class="form-control" />
                    <span asp-validation-for="Discount" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="Orders" class="control-label"></label>
                    <input asp-for="Orders" class="form-control" />
                    <span asp-validation-for="Orders" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col">
                    <label asp-for="StoreQuantity" class="control-label"></label>
                    <input asp-for="StoreQuantity" class="form-control" />
                    <span asp-validation-for="StoreQuantity" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="NameOption" class="control-label"></label>
                    <select asp-for="NameOption" class="form-control">
                        <option value="0">No name</option>
                        <option value="1">Name maximum 10 letters</option>
                        <option value="2">One letter</option>
                    </select>
                    <span asp-validation-for="NameOption" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-cotent-center">
                <div class="containerImageUploader animated bounce text-center">
                    <div class="text-center" id="form1" runat="server">
                        <div class="alert"></div>
                        <div id='img_container' class="text-center p-3">
                            @if (ViewBag.image != null)
                            {
                                string img = Convert.ToBase64String(ViewBag.image);
                                <img class="imgContainer" id="preview" src="data:image/png;base64,@img" alt="your image" title='' />
                            }
                            <div class="row text-center justify-content-center p-3">
                                <img class="imgContainer m-3" id="preview2" alt="your image" title='' />
                                <img class="imgContainer m-3" id="preview3" alt="your image" title='' />
                            </div>
                            <div class="custom-file">
                                <input type="file" multiple name="postedFiles" id="inputGroupFile01" class="imgInp custom-file-input" aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="my-3">
                        <label class="alert-danger" id="errormessage"></label>
                    </div>
                </div>
                <p class="text-center alert-danger">@ViewBag.error</p>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index">Back to List</a>
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</div>

@section Scripts {
    <script src="~/js/ImageUploader.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
