/*CART*/

.cart{
    border:solid 1.5px;
    border-color:darkgray;
}

.shoppingCartIcon{
    width:40px;
}

.productInCart {
    background-color: #ffe7b3;
    border: solid 1.5px;
    border-radius: 20px;
    border-color: #ffefcc;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.cartProductImage {
    width: 100px;
    height: 100px;
}

.customName{
    border:solid 1.5px;
    border-color:lightgray;
    padding:2px;
    background-color:darkgray;
    border-radius:20px;
}

.prodcutNameCart {
    font-size: 30px;
    font-family: 'Javanese Text';
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.inputQuantity {
    width: 50px;
    border-radius: 10px;
    border-color:white;
}

button:disabled{
    color:black;
}

input {
    border-radius: 10px;
}
disabled-nocolor:disabled {
    background-color: white;
    background:white;
    opacity: 1;
}

input[type="number"]:disabled {
    background: white;
    border-radius:10px;
}