/*Right to Left*/
.rtl{
    direction:rtl;
}

.bg-primary{
    background-color:fuchsia;
}

/*using for the login/register icon*/
.transparent-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}
.transparent-button:focus{
    outline: none;
}

/*main logo in the main layout*/
.logo-image {
    width: 170px;
}
/*using for 3 logo of cart,heart,user*/
.nav-design{
    margin-right:5px;
}


