/*Right to Left*/
.rtl{
    direction:rtl;
}

.bg-primary{
    background-color:fuchsia;
}

/*using for the login/register icon*/
.transparent-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    margin-bottom:3px;
}
.transparent-button:focus{
    outline: none;
}

/*main logo in the main layout*/
.logo-image {
    width: 170px;
}

/*using for the carousle banner framework*/
.carousel-frame{
    width:auto;
    max-height:200px;
}

/*using for banner images carousel*/
.fit-image {
    width: 100%;
    height: 230px;
}

/*using for navbar navigation categories*/
.category-nav:hover {
    background-color: #ffcc99;
}

.default-hide{
    display:none;
}

.search-form{
    padding:3px;
}

.input-search-product{
    width:200px;
    height:30px;
}








