@********************************************8*@


<div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header mainFont font-italic justify-content-center">
            <h2 class="modal-title font-italic" id="exampleModalScrollableTitle">@Context.User.Claims.FirstOrDefault(c => c.Type == "FullName")?.Value's Cart</h2>
        </div>
        @if (ViewBag.UserProblem == "error")
        {
            <p class="alert-danger">We having a technical problem with your account,<br />
            Please call our client service in tel:050-000000</p>
        }
        <div class="modal-body">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="row text-center justify-content-center">
                        <p class="font-italic font-weight-bold">Total Price:@ViewData["totalprice"]$</p>
                    </div>
                    <form asp-action="OrderForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="form-group col">
                                <label class="control-label">Phone number</label>
                                <input id="PhoneNumber" name="PhoneNumber" type="number" class="form-control" />
                                <span></span>
                            </div>
                            <div class="form-group col">
                                <label class="control-label">State</label>
                                <input id="state" name="State" type="text" class="form-control" />
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col">
                                <label class="control-label">City</label>
                                <input id="city" name="City" type="text" class="form-control" />
                            </div>
                            <div class="form-group col">
                                <label class="control-label">Street</label>
                                <input id="street" name="Street" type="text" class="form-control" />
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col">
                                <label class="control-label">House Number</label>
                                <input id="housenumber" name="HouseNumber" type="text" class="form-control" />
                            </div>
                            <div class="form-group col">
                                <label class="control-label">Apartment Number</label>
                                <input id="apartmentnumber" name="ApartmentNumber" type="number" class="form-control" />
                            </div>
                            <div class="form-group col">
                                <label class="control-label">Postal Code</label>
                                <input id="postal" name="PostalCode" type="number" class="form-control" />

                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label">Credit Card number</label>
                            <input id="payment" name="Payment" type="number" autocomplete="off" class="form-control" />
                        </div>
                        <div class="row justify-content-center">
                            <p>
                                <img class="icon" src="~/lib/icons/payments/bitcoins.png" />
                                <img class="icon" src="~/lib/icons/payments/visa.png" />
                                <img class="icon" src="~/lib/icons/payments/paypal.png" />
                                <img class="icon" src="~/lib/icons/payments/iconfinder_38602_mastercard_curved_icon_204px.png" />
                            </p>
                        </div>
                        <div class="form-group">
                            <button id="makeorder" type="button" value="Order" class="btn btn-primary">Order</button>
                        </div>
                    </form>
                </div>
            </div>



        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<script src="~/js/cart/MyCart.js"></script>
<script src="~/js/cart/Order.js"></script>>