
@{
    ViewData["Title"] = "Default";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/buttomSection.css" />

<div id="bottom" class="buttomSection">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-4 my-4">
                <h4 class="fontH">Credits</h4>
                <p class="regularFont my-3">
                    The payment secured by PCI.
                    <br />
                    Wer'e accepting payments by:
                </p>
                <p>
                    <img class="icon" src="~/lib/icons/payments/bitcoins.png" />
                    <img class="icon" src="~/lib/icons/payments/visa.png" />
                    <img class="icon" src="~/lib/icons/payments/paypal.png" />
                    <img class="icon" src="~/lib/icons/payments/iconfinder_38602_mastercard_curved_icon_204px.png" />
                </p>
            </div>
            <div class="col-sm-4 my-4">
                <h4 class="fontH">Term of use</h4>
                <p class="regularFont text-left">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam pulvinar orci non est feugiat ullamcorper.
                    Curabitur commodo vehicula eros at bibendum.
                    Proin tristique eros et ligula vehicula, et vestibulum quam commodo.
                    Sed a purus ultrices, luctus nisl ut, ultrices urna.
                    Nullam a augue tincidunt, cursus tellus et, dignissim orci.
                    Proin luctus, metus at vehicula euismod,
                    ante leo consectetur diam, eget tincidunt ex risus sed enim.
                    Quisque malesuada risus nec mauris porta, ac aliquam augue semper.
                    Praesent fermentum vehicula risus, in condimentum nunc luctus sit amet.
                    Sed sed porttitor lacus. Maecenas sagittis sollicitudin sem et aliquam.
                </p>
            </div>
            <div class="col-sm-4 my-4">
                <h4 class="fontH">Social media</h4>
                <p class="regularFont">
                    Come join us on social media
                </p>
                <p class="my-3 px-3">
                    <div class="fb-share-button m-3" data-href="https://www.facebook.com/savageshawntv/" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fsavageshawntv%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                    <a class="m-3" target="_blank" href="https://www.instagram.com/or.kravitz/">
                        <img class="icon" src="~/lib/icons/socialmedia/instagram.png" />
                    </a>
                </p>
                <p class="regularFont">
                    Contant us
                </p>
                <a href="mailto:inonshazo47@gmail.com">
                    <img class="icon" src="~/lib/icons/socialmedia/gmail.png" />
                </a>
            </div>
        </div>
    </div>
</div>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v11.0" nonce="6VrFEJLV"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/bottomloader.js"></script>
<script src="~/js/cart/Order.js"></script>
<script src="https://kit.fontawesome.com/575c92a283.js" crossorigin="anonymous"></script>